body{
    background-color: rgb(27, 187, 198);
    color: white
    padding: 30px;
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ysabeau:wght@600&display=swap" rel="stylesheet">
}
